<footer>
<address>&copy; 2011-<span class="currentYear"></span> {{ .Site.Title }} presented by <a class="gplus-author" href="https://plus.google.com/113532530795858235391" rel="author" target="_blank">Kensuke Nishimura</a>, All Rights Reserved.</address>
</footer>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
<script>
hljs.initHighlightingOnLoad();

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-23009516-2']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
<script id="dsq-count-scr" src="//knk-n.disqus.com/count.js" async></script>
</body>
</html>