<div id="sidebar">
    <div class="adsSidebarTopParts">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ラージスカイクレイバー2 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:600px"
     data-ad-client="ca-pub-6365102272040879"
     data-ad-slot="3510507218"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
    <div class="sideProfile">
        <div class="profileBody">
            <div class="profileImgBody">
                <div class="profileImg"></div>                      
            </div>                  
            <div class="profileTextBody">
                <h2 class="profileName">けんけん@knk_n</h2>
                <div class="profileText">
                    <p>平成元年生。東京の片隅で暮らすブロガー。</p>
                    <p>趣味：Mac、iPhone、Evernote、ランニング</p>                         
                </div>
                <a class="profileLink" href="./about/">詳細はこちら</a>
                <a class="profileLink" href="./contact/">お問い合わせはこちら</a>
            </div>                      
        </div>
        <div class="socialLinks">
            <a class="twitter" href="http://twitter.com/knk_n/" target="_blank"></a>
            <a class="facebook" href="http://www.facebook.com/knkncom" target="_blank"></a>
            <a class="feedly" href="https://feedly.com/i/subscription/feed/http://knk-n.com/feed/" target="_blank"></a>
            <a class="googlePlus" href="https://plus.google.com/113532530795858235391?rel=author" target="_blank"></a>
        </div>
    </div>
    <div class="adsSidebarFixed">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- ラージ スカイスクレイパー 170115 -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:300px;height:600px"
             data-ad-client="ca-pub-6365102272040879"
             data-ad-slot="4349942014"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>